#chado-custom-search-form .multi-germ {
  color: gray;
  font-style: italic;
}

/*  - Scientific Name */
#chado-custom-search-form .scientific-name-element .form-item label {
  display: none;
}
#chado-custom-search-form .scientific-name-element .form-item .description {
  display: none;
}
#chado-custom-search-form .scientific-name-element .form-item {
  display: inline-block;
  margin-bottom: 2px;
}
#chado-custom-search-form .scientific-name-element select {
  width: 175px;
}
#chado-custom-search-form .scientific-name-element select#edit-species {
  width: 275px;
}

/*  - Quality Subtable */
#chado-custom-search-form .visible-row {
  font-weight: bold;
}
#chado-custom-search-form .hidden-row .quality-subtable {
  margin: 5px 20px 5px 50px;
}
#chado-custom-search-form .hidden-row .quality-subtable th {
  background-color: #ededed;
  color: black;
}
#chado-custom-search-form .hidden-row {
  border-bottom: 2px solid #ededed;
}
#chado-custom-search-form .hidden-row .sample-count {
  font-style: italic;
  font-size 0.8em;
  margin-bottom: 0px;
  margin-left: 5px;
}
#chado-custom-search-form .hidden-row table {
  margin-top: 2px;
}
#chado-custom-search-form .hidden-row table th {
  font-weight:normal;
}
#chado-custom-search-form .hidden-row .no-quality {
  font-weight: bolder;
  margin-left: 5px;
}
